



.error-banner, .mdm-git-gui-error-banner {
  display: block;
  position: relative;
  /* background: #fff; */
  container-type: inline-size;
}
.error-banner.error-banner-nonempty {
  margin-bottom: 28px;
}

.mdm-ui-error-record, .mdm-ui-record.mdm-ui-error-record {
  display: grid;
  position: relative;
  container-type: inline-size;
  flex-direction: row;
  grid-template-columns: max-content max-content 2fr;
}
.mdm-ui-error-record.mdm-ui-record > * {
  padding: 0 0 2px 0;
}

.mdm-ui-error-record .timestamp {
  color: #aaa;
  font-weight: 200;
  display: block;
  padding-right: 7px;
}
.mdm-ui-error-record .label {
  display: none;
  font-weight: 200;
  text-align: right;
  color: #bb0000;
  padding-right: 3px;
}
.mdm-ui-error-record .errorbody {
  display: block;
  font-weight: 500;
  color: #940000;
}
.mdm-ui-error-record > .mdm-ui-record-col-1, .mdm-ui-error-record > .mdm-ui-record-col-2, .mdm-ui-error-record > .mdm-ui-record-col-3, .mdm-ui-error-record > .mdm-ui-record-col-4, .mdm-ui-error-record > .mdm-ui-record-col-5 {
  grid-column: 1/-1;
}

@container (min-width: 550px) {
  .mdm-ui-error-record > .mdm-ui-record-col-1 {
    grid-column: 1;
  }
  .mdm-ui-error-record > .mdm-ui-record-col-2 {
    grid-column: 2;
  }
  .mdm-ui-error-record > .mdm-ui-record-col-3 {
    grid-column: 3;
  }
  .mdm-ui-error-record > .mdm-ui-record-col-4 {
    grid-column: 4;
  }
  .mdm-ui-error-record > .mdm-ui-record-col-5 {
    grid-column: 5;
  }
  .mdm-ui-error-record .label {
    display: block;
  }
}