

/* .mdm-git-gui-app-section-mainview > .mdm-ui-rollup > .mdm-ui-rollup-body {
  padding: 0; border: none; margin: -1px;
} */
.mdm-git-gui-mainview > .mdm-ui-tabbed-panes > .mdm-ui-tabbed-panes-inner {
  min-height: 300px;
}
