





.mdm-ui-modals-site .mdm-ui-modals-global-background, .mdm-ui-modals-site .mdm-ui-modals-modalform-background {
  display: none;
  position: fixed;
  background: rgba(255,255,255,0);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
  transition: all 600ms ease;
}
.mdm-ui-modals-site.mdm-ui-modals-site-active .mdm-ui-modals-global-background {
  display: block;
  background: rgba(192,192,192,.2);
}
.mdm-ui-modals-site.mdm-ui-modals-site-active .mdm-ui-modals-modalform-background {
  display: block;
  background: rgba(192,192,192,.5);
}
.mdm-ui-modals-site .mdm-git-ui-modal-wrapper {
  display: block;
  position: fixed;
  background: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 17px;
  z-index: 1001;
  left: 50%;
  top: 56px;
  width: 92%;
  transform: translateX(-50%);
  padding: 15px;
}
.mdm-ui-modals-site .mdm-git-ui-modal-wrapper  iframe {
  margin: -4px -15px 0 -15px;
}
@media all and (min-width: 1300px) {
    .mdm-ui-modals-site .mdm-git-ui-modal-wrapper {
        width: 1230px;
    }
}
@media all and (min-width: 1650px) {
  .mdm-ui-modals-site .mdm-git-ui-modal-wrapper {
        width: 1530px;
    }
}
@media all and (min-width: 1800px) {
  .mdm-ui-modals-site .mdm-git-ui-modal-wrapper {
        width: 1730px;
    }
}
.mdm-ui-modals-site .mdm-git-ui-modal-wrapper .mdm-git-ui-modal-dismiss {
  position: absolute;
  display: block;
  z-index: 99999;
  right: 14px;
  top: 14px;
  line-height: 14px;
  text-align: center;
  transform: translateX(50%) translateY(-50%);
  width: 14px;
  height: 14px;
  cursor: pointer;
  font-size: 28px;
  font-weight: 800;
  color: #777;
}
.mdm-ui-modals-site .mdm-git-ui-modal-wrapper .mdm-git-ui-modal-dismiss:hover {
  color: #990000;
}
.mdm-ui-modals-site .mdm-git-ui-modal-wrapper .mdm-git-ui-modal-dismiss:before {
  content: "×";
}






.gitgui-modal-form .gitgui-fetched-content {
  min-height: 300px;
}
.gitgui-modal-form .gitgui-button-close {
  display: block;
  min-width: 200px;
  max-width: 600px;
  background: #fff;
  padding: 6px;
  border-radius: 7px;
  border-color: #ddd;
  margin: 14px auto 0 0;
  font-size: 15px;
  font-weight: 300;
  color: #555;
  transition: 600ms all ease;
}
.gitgui-modal-form .gitgui-button-close:hover{
  /* background: #e0e0e0; */
  /* border-color: #000; */
  color: #000;
}
