


.mdm-ui-isonline-monitor {
  display: block;
  position: fixed;
  z-index: 999999;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(192,192,192,.6);
}
.mdm-ui-isonline-monitor.online {
  display: none;
}
.mdm-ui-isonline-monitor .description {
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 28px;
  border-radius: 26px;
  background: rgba(255,255,255,.9);
  transition: all 600ms ease;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
  color: #999;
  font-weight: 600;
  font-size: 24px;
}

.mdm-ui-isonline-monitor .config-paths-mismatch-failure {
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 28px 28px 97px;
  border-radius: 26px;
  background: rgba(255,255,255,.9);
  transition: all 600ms ease;
  text-align: left;
  transform: translateX(-50%) translateY(-50%);
  color: #aa0000;
  font-weight: 500;
  font-size: 16px;
  width: 92vw;
}


.mdm-ui-isonline-monitor .suggest-line a, .mdm-ui-isonline-monitor .suggest-line a:active, .mdm-ui-isonline-monitor .suggest-line a:hover, .mdm-ui-isonline-monitor .suggest-line a:link, .mdm-ui-isonline-monitor .suggest-line a:visited {
  transition: all 300ms ease;
  outline: none;
  text-decoration: none;
  color: inherit;
  display: inline-block;
  padding: 2px 16px 4px;
  margin-left: 4px;
  border: 1px solid currentColor;
  border-radius: 0.25em;
  line-height: inherit;
  cursor: pointer;
}
.mdm-ui-isonline-monitor .suggest-line a:hover {
  color: #111;
}
