

.mdm-git-gui-welcomeview-pane-status {
    position: relative;
    padding: 7px 0 7px;
    container-type: inline-size;
}

.mdm-git-gui-welcomeview {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 15px;
    position: relative;
    container-type: inline-size;
}

.mdm-git-gui-welcomeview, .mdm-git-gui-welcomeview-dummystub, .mdm-git-gui-welcomeview-uptodate, .mdm-git-gui-welcomeview-uncommittedchanges {
    position: relative;
}

.mdm-git-gui-welcomeview > * {
    min-height: 1em;
    padding-bottom: 15px;
    min-width: 0;
}

.mdm-git-gui-welcomeview-pane-status {
    grid-column: 1/-1;
    min-height: 100px;
    max-height: 600px;
}

.mdm-git-gui-popupview-list-changed-files .gitgui-button-close:hover {
    color: #385;
}


.mdm-git-gui-popupview-list-changed-files h2 {
  font-weight: 500;
  font-size: 16px;
  margin: 0;
  padding: 0 0 7px;
}

.mdm-git-gui-git-status-record .mdm-ui-record-col-filepath label, .mdm-git-gui-git-status-record .mdm-ui-record-col-filepath .label {
    display: none;
}

.mdm-git-gui-git-status-records {
    grid-template-columns: max-content max-content 1fr max-content;
}
.mdm-git-gui-git-status-record {
    transition: all 300ms ease;
}
.mdm-git-gui-git-status-record:hover {
    background: #f2f2f2;
}
.mdm-git-gui-git-status-record .mdm-ui-record-col-status-index {
    padding-left: 0;
    padding-right: 0;
}
.mdm-git-gui-git-status-record .mdm-ui-record-col-status-worktree {
    padding-left: 0;
}


.mdm-git-gui-popupview-message-window textarea {
  min-height: 85px;
  height: 140px;
}

.mdm-git-gui-popupview-message-window .section {
    margin-bottom: 14px;
}