



.error-banner {
  display: block;
  position: relative;
  /* background: #fff; */
}
.error-banner.error-banner-nonempty {
  margin-bottom: 28px;
}

.mdm-ui-error-record {
  display: flex;
  position: relative;
  flex-direction: row;
}
.mdm-ui-error-record .timestamp {
  color: #aaa;
  font-weight: 200;
  display: block;
  padding-right: 7px;
  flex: 0 0 16em;
  font-size: 86%;
}
.mdm-ui-error-record .label {
  display: block;
  padding-left: 14px;
  padding-right: .5em;
  font-weight: 200;
  text-align: right;
  color: #bb0000;
}
.mdm-ui-error-record .errorbody {
  display: block;
  font-weight: 500;
  color: #940000;
}
@media all and (max-width: 400px) {
  .mdm-ui-error-record {
    flex-direction: column;
  }
}
