
.mdm-git-gui-verifypack .mdmreport-controls {
  position: relative;
}

.mdm-git-gui-verifypack .note {
  margin-top: 7px;
}
.mdm-git-gui-verifypack .footnote {
  color: #666;
}


.mdm-git-gui-verifypack .mdmreport-controls .click-me-next button, .mdm-git-gui-verifypack .mdmreport-controls button.click-me-next {
  color: #ffffff;
  background: #226633;
  font-weight: 600;
  border: 4px solid transparent;
}
.mdm-git-gui-verifypack .mdmreport-controls .click-me-next button:hover, .mdm-git-gui-verifypack .mdmreport-controls button.click-me-next:hover {
  color: #116622;
  background: #fff;
  border-color: #116622;
}


.mdm-git-gui-pack-object-record .label {
  display: none;
}

.mdm-git-gui-pack-object-record .blob-hash, .mdm-git-gui-pack-object-record .file-mode {
  display: none;
}

/* @media (min-width: 500px) {
  .mdm-git-gui-pack-files.pack-file-records {
    grid-template-columns: max-content max-content max-content max-content 2fr max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content;
  }
} */







@media (min-width: 500px) {
  .mdm-git-gui-pack-files.pack-file-records {
    display: grid;
    grid-template-columns: minmax(0, max-content) minmax(0, 1fr);
    gap: 0 1rem;
  }
}

.mdm-git-gui-pack-files.pack-file-records .mdm-git-gui-pack-object-record {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

/* First line */
.mdm-git-gui-pack-files.pack-file-records .mdm-git-gui-pack-object-record .hash {
  grid-column: 1;
}

.mdm-git-gui-pack-files.pack-file-records .mdm-git-gui-pack-object-record .object-type {
  grid-column: 2;
}

.mdm-git-gui-pack-files.pack-file-records .mdm-git-gui-pack-object-record .filesizes {
  grid-column: 1/-1;
}
.mdm-git-gui-pack-files.pack-file-records .mdm-git-gui-pack-object-record .filesizes .inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 14px;
  border-radius: 4px;
}
.mdm-git-gui-pack-files.pack-file-records .mdm-git-gui-pack-object-record .length .label {
  display: inline;
}

.mdm-git-gui-pack-files.pack-file-records .mdm-git-gui-pack-object-record .size-compressed .label {
  display: inline;
}

.mdm-git-gui-pack-files.pack-file-records .mdm-git-gui-pack-object-record .revision-info {
  grid-column: 1/-1;
}
.mdm-git-gui-pack-files.pack-file-records .mdm-git-gui-pack-object-record .revision-info .inner {
  padding: 0;
  border: 1px solid #dfdfdf;
  margin-bottom: 4px;
  border-radius: 4px;
  display: grid;
  grid-template-columns: max-content 2fr;
}
.mdm-git-gui-pack-files.pack-file-records .mdm-git-gui-pack-object-record .revision-info .inner > * {
  display: block;
  padding: 7px 14px;
}
.mdm-git-gui-pack-files.pack-file-records .mdm-git-gui-pack-object-record .revision-info .inner > .revision-hash {
  grid-column: 1;
}
.mdm-git-gui-pack-files.pack-file-records .mdm-git-gui-pack-object-record .revision-info .inner > .file-path {
  grid-column: 2;
}
.mdm-git-gui-pack-files.pack-file-records .mdm-git-gui-pack-object-record .revision-info .inner > .file-mode {
  display: none;
}
.mdm-git-gui-pack-files.pack-file-records .mdm-git-gui-pack-object-record .revision-info .inner > .revision-message {
  grid-column: 1/-1;
}
.mdm-git-gui-pack-files.pack-file-records .mdm-git-gui-pack-object-record .revision-info .inner > .revision-message .inner {
  display: block;
  grid-column: 1 / -1;
  padding: 6px;
  border: 1px solid #dfdfdf;
  border-radius: 4px;
}


.mdm-git-gui-pack-files.pack-file-records .mdm-git-gui-pack-object-record .delta-info {
  grid-column: 1/-1;
}
.mdm-git-gui-pack-files.pack-file-records .mdm-git-gui-pack-object-record .delta-info .inner {
  /*! padding: 7px; */
  /*! border: 1px solid #dfdfdf; */
  /*! margin-bottom: 4px; */
  /*! border-radius: 4px; */
}

.mdm-git-gui-pack-files.pack-file-records .mdm-git-gui-pack-object-record .delta-base {
  display: block;
}
.mdm-git-gui-pack-files.pack-file-records .mdm-git-gui-pack-object-record .delta-base .label {
  display: inline;
}

.mdm-git-gui-pack-files.pack-file-records .mdm-git-gui-pack-object-record .delta-depth {
  display: block;
}
.mdm-git-gui-pack-files.pack-file-records .mdm-git-gui-pack-object-record .delta-depth .label {
  display: inline;
}
