.gitui-app-gitignore-outer .help > a {
  display: inline-block;
  margin-left: 30px;
  padding: 1px 14px;
  line-height: normal;
  border-radius: 3px;
  border: 1px solid #d0d0d0;
  color: #111;
  transition: all 600ms ease;

}
.gitui-app-gitignore-outer .help > a, .gitui-app-gitignore-outer .help > a:active, .gitui-app-gitignore-outer .help > a:hover, .gitui-app-gitignore-outer .help > a:link {
  text-decoration: none;
}
.gitui-app-gitignore-outer .help > a:hover {
  border: 1px solid #d0d0ff;
  color: #000;
}
