
.mdm-git-gui-repoinit-wizard-confirm-paths-inner p {
  margin: 0.5em 0;
}

.mdm-git-gui-repoinit-wizard-confirm-paths-inner .config-work-tree-path, .mdm-git-gui-repoinit-wizard-confirm-paths-inner  .config-git-dir-path {
  font-weight: 500;
  font-size: 115%;
  color: #000;
}
.mdm-git-gui-repoinit-wizard-confirm-paths-inner .click-next, .mdm-git-gui-repoinit-wizard-confirm-paths-inner .click-finish {
  padding-top: 21px;
}
.mdm-git-gui-repoinit-wizard-confirm-paths-inner .click-next input, .mdm-git-gui-repoinit-wizard-confirm-paths-inner .click-next button {
  padding-top: 7px;
  padding-bottom: 7px;
  min-width: 210px;
  font-weight: 500;
}
.mdm-git-gui-repoinit-wizard-confirm-paths-inner .click-next input:hover, .mdm-git-gui-repoinit-wizard-confirm-paths-inner .click-next button:hover{
  color: #fff;
  background: #226633;
}
.mdm-git-gui-repoinit-wizard-confirm-paths-inner .click-finish input, .mdm-git-gui-repoinit-wizard-confirm-paths-inner .click-finish button {
  padding-top: 14px;
  padding-bottom: 14px;
  min-width: 210px;
  font-weight: 500;
  border-radius: 5px;
}
.mdm-git-gui-repoinit-wizard-confirm-paths-inner .click-finish .submit {
  font-weight: 400; /* 600; */
  color: #111111; /* #1e881e; */
  background: #fff;
  min-width: 210px;
}
.mdm-git-gui-repoinit-wizard-confirm-paths-inner .click-finish .submit:hover {
  color: #ffffff;
  background: #226633;
}
.mdm-git-gui-repoinit-wizard-confirm-paths-inner .click-finish.all-steps-confirmed .submit {
  color: #ffffff;
  background: #226633;
  font-weight: 600;
}
.mdm-git-gui-repoinit-wizard-confirm-paths-inner .click-finish.all-steps-confirmed .submit:hover {
  color: #114a11;
  background: #fff;
}
.mdm-git-gui-repoinit-wizard-confirm-paths-inner .click-finish .cancel {
  color: #000;
  background: #ffffff;
  margin-left: 21px;
  min-width: 140px;
}
.mdm-git-gui-repoinit-wizard-confirm-paths-inner .click-finish .cancel:hover {
  color: #000;
  background: #dfdfdf;
}


.mdm-git-gui-repoinit-wizard-confirm-paths-inner .step-confirmed .click-next input, .mdm-git-gui-repoinit-wizard-confirm-paths-inner .step-confirmed .click-next button {
  position: relative;
}
.mdm-git-gui-repoinit-wizard-confirm-paths-inner .step-confirmed .click-next input:before, .mdm-git-gui-repoinit-wizard-confirm-paths-inner .step-confirmed .click-next button:before {
  content: "✔";
  display: block;
  position: absolute;
  color: #22bb33;
}
.mdm-git-gui-repoinit-wizard-confirm-paths-inner .mdmreport-controls button {
  /* */
}
.mdm-git-gui-repoinit-wizard-confirm-paths-inner .mdmreport-controls .click-me-next button, .mdm-git-gui-repoinit-wizard-confirm-paths-inner .mdmreport-controls button.click-me-next {
  color: #ffffff;
  background: #226633;
  font-weight: 600;
  forder: 4px solid transparent;
}
.mdm-git-gui-repoinit-wizard-confirm-paths-inner .mdmreport-controls .click-me-next button:hover, .mdm-git-gui-repoinit-wizard-confirm-paths-inner .mdmreport-controls button.click-me-next:hover {
  color: #116622;
  background: #fff;
  border-color: #116622;
}
