<!doctype html>
<html lang="">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width">
      <title>{{INS_TITLE}}</title>
      {{ADD_META}}
      {{ADD_ASSETS}}
</head>
<body class="mdmreportpage {{INS_ADDEDCLASSES}}">
<header class="header">
    <div class="container">
        <p>{{INS_PAGEHEADER}}</p>
    </div>
</header>
<div class="main">
    <div class="container">
        <h1>{{INS_HEADING}}</h1>
        <div class="mdmreport-banners mdmreport-banner-global">{{INS_BANNER}}</div>
        <div class="error error-banner" id="error_banner"></div>
        <div class="mdmreport-layout-plugin-placeholder mdmreport-banners-wrapper" id="mdmreport_plugin_placeholder"></div><div class="mdmreport-toc-placeholder mdmreport-banners-wrapper mdmreport-banners-wrapper-noborders" id="mdmreport_toc_placeholder"></div><h2 style="display: none;">Sections</h2>
    </div>
