

.mdm-git-gui-diffview {
  max-height: 100vh;
  overflow: auto;
}


.mdm-git-gui-diffview .memorysave-form .gitgui-button-show {
  border: none;
  color: #4950f0;
  text-decoration: none;
  transition: all 600me ease;
}
.mdm-git-gui-diffview .memorysave-form .gitgui-button-show:hover {
  color: #7080ff;
  text-decoration: underline;
}

.mdm-git-gui-diffview .two-sided-view {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.mdm-git-gui-diffview .two-sided-view > * {
  width: 50;
  flex: 0 0 50%;
  overflow: auto;
  padding: 0 0 0 14px;
}
.mdm-git-gui-diffview .two-sided-view > *:first-child {
  padding-right: 5px;
  padding-left: 0;
}
.mdm-git-gui-diffview .diff-outputs p {
  white-space: pre;
  margin: 0;
  padding: 3px 0 3px;
  font-size: 12px;
  height: 18px;
  line-height: 12px;
  font-weight: 300;
  color: #222;
}
.mdm-git-gui-diffview .diff-outputs p:empty::before {
  content: "\00a0";
}
.mdm-git-gui-diffview .linenumber-and-content-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.mdm-git-gui-diffview .linenumber-and-content-columns > * {
  flex: 1 1 100%;
}
.mdm-git-gui-diffview .linenumber-and-content-columns > *.linenum-col {
  width: 40px;
  flex: 0 0 40px;
}
.mdm-git-gui-diffview .diff-outputs .status-ins {
  background: #a0f090;
}
.mdm-git-gui-diffview .diff-outputs .status-del {
  background: #ffa097;
}
.mdm-git-gui-diffview .diff-outputs .status-mod {
  background: #fbd6a6;
}
.mdm-git-gui-diffview .diff-outputs .linenum-col .status-ins {
  background: #aceebb;
}
.mdm-git-gui-diffview .diff-outputs .linenum-col .status-del {
  background: #ffcecb;
}
.mdm-git-gui-diffview .diff-outputs .linenum-col .status-mod {
  background: #f5eec1;
}
