


.error-banner {
  display: block;
  position: relative;
  /* background: #fff; */
}
.error-banner.error-banner-nonempty {
  margin-bottom: 28px;
}

.mdm-ui-error-record {
  display: flex;
  position: relative;
  flex-direction: row;
}
.mdm-ui-error-record .timestamp {
  color: #aaa;
  font-weight: 200;
  display: block;
  padding-right: 7px;
  flex: 0 0 16em;
}
.mdm-ui-error-record .label {
  display: block;
  padding-left: 14px;
  padding-right: .5em;
  font-weight: 200;
  text-align: right;
  color: #bb0000;
}
.mdm-ui-error-record .errorbody {
  display: block;
  font-weight: 500;
  color: #940000;
}
@media all and (max-width: 400px) {
  .mdm-ui-error-record {
    flex-direction: column;
  }
}





.gitgui-ajax-pageview-form .gitgui-fetched-content {
  min-height: 300px;
}
.gitgui-ajax-pageview-form .gitgui-button-modal-close {
  display: block;
  min-width: 200px;
  max-width: 600px;
  background: #fff;
  padding: 6px;
  border-radius: 7px;
  border-color: ##678;
  margin: 14px auto 0 0;
  font-size: 15px;
  font-weight: 300;
  color: #555;
  transition: 600ms all ease;
}
.gitgui-ajax-pageview-form .gitgui-button-modal-close:hover{
  /* background: #e0e0e0; */
  b/* order-color: #000; */
  color: #000;
}
